@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient-radial {
  background: radial-gradient(circle, #4fd1c5, #81e6d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
